<div class="SCContainer">
  <h1>Shopping Cart</h1>
  <ng-container *ngIf="this.cart">
    <p>
      You have {{getTotalItems()}} items in your cart.
    </p>

  </ng-container>
  <table *ngIf="cart.shoppingCartItemCount !=0" matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="title">Product</th>
      <th mat-sort-header="quantity">Quantity</th>
      <th mat-sort-header="unitPrice">Unit Price</th>
      <th mat-sort-header="totalPrice">Total Price</th>
    </tr>

    <tr *ngFor="let item of sortedData">
      <td>{{item.title}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>{{getQuantity(item)}}</td>
      <td>${{item.price}}</td>
      <td>${{item.price*getQuantity(item)}}</td>
      <button class="left-btn" (click)="updateItemQuantity(this.item.productId, -1)" mat-raised-button color="basic">-</button>
      <button class="left-btn" (click)="updateItemQuantity(this.item.productId, 1)" mat-raised-button color="basic">+</button>
    </tr>
    <tr>
      <th mat-sort-header="title">TOTAL</th>
      <th mat-sort-header="title">${{getTotal()}}</th>
    </tr>
  </table>
</div>

