<mat-toolbar color="primary">
  <a mat-button routerLink="/">myApp</a>
  <div class="spacer"></div>
  <ng-template #anonymousUser>
    <a mat-button routerLink="/login">Login</a>
  </ng-template>
  <a mat-button routerLink="/shopping-cart">Shopping cart</a>

  <a mat-menu-item></a>

  <button mat-button *ngIf="appUser; else anonymousUser" [matMenuTriggerFor]="appMenu">{{appUser.name}}<mat-icon>expand_more</mat-icon></button>
  <mat-menu #appMenu="matMenu" >
    <a mat-menu-item routerLink="/my/orders">My Orders</a>
    <ng-container *ngIf="appUser.isAdmin">
      <a mat-menu-item routerLink="/admin/orders">Manage Orders</a>
      <a mat-menu-item routerLink="/admin/products">Manage Products</a>
    </ng-container>
    <a mat-menu-item (click)="logout()">Log Out</a>
  </mat-menu>

</mat-toolbar>
