/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

div .container {
  margin-top:40px;
  margin-left: 20px;
}

.mat-list {
  position: fixed;
  top: 6em;
  left: 1em;
}

